*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

.page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-header div{
    display: flex;
    align-items: center;
}

.page-header div:first-child{
    padding-left: 2.5%;
    width: 9.54%;
}

.page-header div:nth-child(2){
    padding-left: 13.9%;
    padding-right: 11.25%;
    width: 49.54%;
}

.page-header div:last-child{
    padding-right: 2.5%;
    justify-content: end;
    width: 10.99%;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-navBar {
    font-size: 30px;
    display: flex;
    justify-content: space-between
}

.header-navBar a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-logOut{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
} 

main{
    margin-top: 140px;
} 

.top {
    padding: 5rem 22.5rem 1.063rem 22.5rem;
    display: flex;
    width: 75rem;
}

.topleft, .topright{
    display: inline;
    
}

.topleft{
    padding-right: 44.313rem;
    width: 16rem;
}

.above{
    margin-bottom: 0.25rem;
}

.red-circle{
    height: 38px;
    width: 38px;
    background-color: #F29393;
    border-radius: 50%;
    float: left;
    margin-right: 1.75rem;
}

h1{
    font-size: 20px;
    font-weight: normal;
    padding: 0.5rem 0 0.5rem 0;
}

.gray-circle{
    height: 38px;
    width: 38px;
    background-color: #AAA9A9;
    border-radius: 50%;
    float: left;
    margin-right: 1.75rem;
}

.missing{
    margin-top: 0.25rem;
}

.missing img{
    height: 38px;
    width: 38px;
    float: left;
    margin-right: 1.75rem;
}

.topright{
    padding: 4rem 0 0 0;
    width: 14.688rem;
    height: 3.563rem;
    display: flex;
    align-items: stretch;
}

form{
    display: flex;
    border: 1px solid black;
    border-radius: 2.25rem;
    width: 100%;
}

input{
    background: transparent;
    padding-left: 1rem;
    font-size: 26px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 80%;
    font-style: italic;
  }
  
input::placeholder {
    color: #CFCFCF;
}

form button{
    padding-right: 1.375rem;
    border: none;
    background-color: white;
    border-radius: 0 0.5rem 0.5rem 0;
    width: 1.75rem;
}
form button img{
    text-indent: -999px;
    overflow: hidden;
    height: 1.688rem;
    padding-top: 0.5rem;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    cursor: pointer;   
}

table{
    margin: 0 22.5rem 0 22.5rem;
    width: 75rem;
}

table, th, td{
    border: 1px solid #CFCFCF;
    border-collapse: collapse;
    text-align: center;
}

th,td{
    font-size: 26px;
}

th{
   /* padding: 0.813rem 0 0.5rem 0;*/
    background-color: #BBD9F6;
    height: 4.563rem;
}

.leftone{
    width: 11.625rem;
    background-color: white;
    padding: 0;
}

.slope{
    position: relative;
    border-bottom: 1px solid #CFCFCF;
    -webkit-transform: rotate(20deg);
}

td{
    height: 3.563rem;
}

.lefttwo{
    margin: 0 2.625rem 0 2.625rem;
}

