*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

h1{
    font-size: 38px;
    font-weight: normal;
}


.page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-header div{
    display: flex;
    align-items: center;
}

.page-header div:first-child{
    padding-left: 2.5%;
    width: 9.54%;
}

.page-header div:nth-child(2){
    padding-left: 13.9%;
    padding-right: 11.25%;
    width: 49.54%;
}

.page-header div:last-child{
    padding-right: 2.5%;
    justify-content: end;
    width: 10.99%;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-navBar {
    font-size: 30px;
    display: flex;
    justify-content: space-between
}

.header-navBar a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-logOut{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
} 

.commentList-title{
    font-size: 2.375em;
    height: 1.1315em;
    width: 100%;
    margin-top: 5.7894em;
    align-items: center;
}

.commentList-title img{
    width: 2.40%;
    padding-left: 2.09%;
}

.commentList-title h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.commentList-body{
    width: 60.4375em;
    margin: 0 auto;
    margin-top: 7.625em;
}

.comment{
    display: flex;
    justify-content: space-between;
    width:60.4375em;
}

.avatarBox{
    height: 4.625em;
    width: 4.625em;
}
.avatar{
    height: 4.625em;
    width: 4.625em;
}

.commentDetail{
    width: 53.75em;
}

.commentInfo{
    display:flex;
    justify-content: space-between;
    width: 49.625rem;
}

.name{
    text-align: left;
    width: 11.0625em;
}

.time{
    text-align: right;
    width: 7.8125em;
}

.commentContent{
    font-size: 20px;
    width: 49.625rem;
}