*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

body{
    font-size: 12px;
}

h1{font-size: 18px;}
h2{font-size: 16px;}
h3{font-size: 14px;}
p{font-size: 14px;}

.web-page-header{display: none;}

.mobile-page-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    top: 0;
    left: 0;
    z-index: 1;
}

.mobile-page-header div{
    display: flex;
    align-items: center;
    width: 76px;
}

.mobile-page-header div:first-child{
    padding-left: 2.67%;
}

.mobile-page-header div:last-child{
    padding-right: 2.67%;
    display: flex;
    justify-content: end;
}

.mobile-logo{
    height: 48px;
    width: 76px;
}

.nav-login{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 59px;
    height: 38px;
    border: none;
}

.aboutDia-title{
    width: 100%;
    margin-top: 55px;
    display: flex;
    align-items: center;
    height: 66px;
}

/* .aboutDia-title img{
    width: 4.74%;
    padding-left: 4.53%;
} */

.aboutDia-title h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.aboutDia-body{
    /* background-color: #F5F5F5; */
    width: 81.33%;
    margin: 0 auto;
    /* padding: 0 4% 0 4%; */
}

.article-intro h2{
    padding-top: 0.5em;
}

.article-intro p{
    padding-top: 0.375em;
}

.article-type p{
    padding-top: 0.125em;
}

.article-type h3{
    padding-top: 0.625em;
    text-decoration: underline;
}

/* .article-type img{
    width: 100%;
    padding-top: 1.25em;
} */

.item2 img{
    width: 100%;
    padding-top: 1.25em;
    padding-bottom: 1.875em;
}

.article-moreInfor p{
    padding-top: 0.45em;
    color: #668cbb;
}

/* iframe{
    padding-top: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.aboutDia-top div:last-child{
    /* position: relative; 
    width: 46.83%; 
    height: 0;  */
    padding-bottom: 1.875em;
    padding-top: 1.25em;
}
/* iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
} */

.aboutDia-footer{
    padding-top: 1em;
    padding-bottom: 1.25em;
    text-align: center;
}

.aboutWeb-title{
    width: 100%;
    margin-top: 55px;
    display: flex;
    align-items: center;
    height: 66px;
}

.arrow-back {
    width: 4.74%;
    padding-left: 4.53%;
}
    
.aboutWeb-title h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-family: Georgia, Times, 'Times New Roman', serif;
    }
    
.aboutWeb-body{
    /* background-color: #f5f5f5; */
    width: 81.33%;
    margin: 0 auto;
    padding:0 4% 0 4%;
}
    
.aboutWeb-body img{
    width: 100%;
    padding-top: 1.25em
}
    
.article h2{
    padding: 1em 0 0.3125em 0;
}
    
.aboutWeb-footer{
    padding-top: 1em;
    padding-bottom: 1.25em;
    text-align: center;
}

.email{
    list-style: none;
    padding: 0.3725em 0 1em 0;
    letter-spacing: -0.5px;
}

@media screen and (min-width: 800px) and (max-width: 1400px) {
h1{font-size: 1.75rem;}
h2{font-size: 1.7rem;}
h3{font-size: 1.5rem;}
p{font-size: 1.5rem;}
.email{font-size: 1.5rem;}

iframe{height: 400px;}

.arrow-back{width: 3.3%;}

.article h2 {padding: 0.5em 0 0.3125em 0;}

.aboutWeb-body img{padding-top: 0.5em;}

.teamwork{padding-top: 2em;}}

@media screen and (min-width: 1400px){
/* .article{
    height: 694px;
    width: 494px;
} */
/* .aboutDia-body{
    margin: 0px 140px 0px 140px;
} */
/* body{font-size: 26px;} */

main{margin-top: 200px;}

.mobile-page-header{
    display: none;
}

h1{font-size: 2.375rem;}
h2{font-size: 2.215em;}
h3{font-size: 1.625rem;}
p{font-size: 1.625rem;}

.web-page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.web-page-header div{
    display: flex;
    align-items: center;
}

.web-page-header div:first-child{
    padding-left: 2.5%;
    width: 9.54%;
}

.web-page-header div:nth-child(2){
    padding-left: 13.9%;
    padding-right: 11.25%;
    width: 49.54%;
}

.web-page-header div:last-child{
    padding-right: 2.5%;
    justify-content: end;
    width: 10.99%;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-navBar {
    font-size: 30px;
    display: flex;
    justify-content: space-between
}

.header-navBar a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-logOut{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
} 

.aboutDia-top div:last-child{
    position: relative; 
    width: 46.83%; 
}
.aboutDia-top{
    display: flex;
    justify-content: space-between;
}

.aboutDia-top div:first-child{
    width: 50.79%;
}

/* .article-intro{
    padding: 0.875em;
} */

.article-intro p{
    padding-top: 0.6875em;
}

.aboutDia-bottom{
    display: grid;
    grid-template-columns: 46.77% auto;
    gap: 0px 30px;
    padding: 50px 0px 0px 0px;
}

.article-type h3{
    padding-top: 1.25em;
}
/* .item2{
    margin-top: 60px;
} */

.item2 img{
    padding: 0px;
}

.item1{
    grid-area: 1 / 2 / span 2 / span 1;
}

.aboutDia-footer{
    padding: 1.875em 0px;
}

/* .aboutWeb-top{
    display: flex;
    justify-content: space-between;
}

.aboutWeb-top div:first-child{
    width: 56.46%;
}

.aboutWeb-body{
    padding: 0%;
}

.aboutWeb-top img{padding: 0%;}

.aboutWeb-top div:last-child{
    width: 42.13%;
}

.aboutWeb-top img{
    width: 100%;
}

.article h2{padding: 0%;} */

.aboutWeb-body{padding: 100px 0 0 0;}

.aboutDia-body{padding: 100px 0 0 0;}

.article h2{padding: 0 0 0.6875em 0;}

.aboutWeb-top article{padding: 1.25em 1.25em 0 0;}

.aboutWeb-top{
    display: grid;
    grid-template-columns: 42.32% auto;
    gap: 0px 30px;
    padding: 0px 0px 107px 0px;
}

.aboutWeb-top div:first-child{
    grid-area: 1 / 2 / span 1 / span 1;
}

.arrow-back{
    width: 2.38%;
    padding-left: 2.1%;
}

.aboutWeb-bottom{
    display: grid;
    grid-template-columns: 47.866% auto;
    gap: 0px 30px;
}

.aboutWeb-body img{padding: 0%;}

.aboutWeb-bottom article{padding: 1.25em 0 0 1.25em;}

.email{font-size: 1.625rem;}
}