<h1>About Me</h1>
<div class = aboutMe-body>
    <!-- 这里要加自拍或者图片,以及信息要可以变动-->
    <div class = aboutMe-left>
        <img class = "self-picture" src = "/Photo_Pat.png" alt="self photo">
        <div class = "userName">Name: Doctor {{clinician.last_name}}</div>
        <div class = "birth">Year of birth: {{clinician.yearofbirth}}</div>
    </div>
    <div class = "aboutMe-right">
        <h2 class = "header">Here's a little about me</h2>
        <form action="/clinician/aboutMe" method="post">
            <div class = "textBoarder">
                <div class = "self-intro">
                    <p contenteditable="true">{{clinician.brief_bio}}</p>
                </div>
            </div>
            <button class="saveButton" name="popBox" onclick="popBox()" type="submit">Save</button>
            </form>
    </div>
</div>