<h1>New Patient</h1>
<div class="newPatient-body">
    <div class="infoList">
        <div class="infoAdd">
            <span class="infoName">Family Name: </span>
            <span class="inputBox"><input class="textBox" type="text" name="" placeholder="xxx"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Given Name:</span>
            <span class="inputBox"><input class="textBox" type="text" name="" placeholder="xxx"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Email Address:</span>
            <span class="inputBox"><input class="textBox" type="email" name="" placeholder="123@xxx.com"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Password:</span>
            <span class="inputBox"><input class="textBox" type="password" name=""
                    placeholder="at least 8 characters"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Confirm Password:</span>
            <span class="inputBox"><input class="textBox" type="password" name=""
                    placeholder="confirm the password"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Height:</span>
            <span class="inputBox"><input class="textBox" type="text" name=""
                    placeholder="enter the height in  meters"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">Year of Birth:</span>
            <span class="inputBox"><input class="textBox" type="text" name="" placeholder="enter the integer"></span>
        </div>
        <div class="infoAdd">
            <span class="infoName">A brief Text Bio:</span>
            <span class="inputBox"><input class="textBox" type="text" name="" placeholder="enter the characters"></span>
        </div>
        <div class="sendCode">
            <button class="codeButton" onclick="window.location.href=''" type="button">Send Authentication Code</button>
        </div>
        <div class="enterCode">
            <span class="codeBox"><input class="textBox" type="text" name="" placeholder="Enter the code"></span>
        </div>
    </div>

    <form class="chooseList">
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Weight</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="70"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="100"> </span>
                Kg
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Exercise</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="1000"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="4000"> </span>
                steps
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Doses of Insulin Taken</span>
            <div class="textLine">
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="4000"> </span>
                Doses
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Blood Glucose Level</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="3.9"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="6.1"> </span>
                nmol/L
            </div>
        </div>
    </form>
</div>
<div class="submit">
    <button class="saveButton" onclick="window.location.href=''" type="button">Save</button>
</div>