        <div class="top">
            <div class="topleft">
                <span><img src="/redcircle.png">Above normal range</span>
                <span><img src="/greycircle.png">Below normal range</span>
                <span><img src="/Icon awesome-question-circle.png">Data was not recorded</span>
            </div>
            <div class="topright">
                <form action = "/clinicians/:name" method="post">
                    <input type="search" placeholder="Patient Name" name = "patientName">
                    <button type="submit"><img src="/Icon ionic-ios-search.png" alt="search"></img></button>
                </form>
            </div>
        </div>
        <div class="patient-table">
            <table>
                <tr>
                    <th class="one-slope"><div class="slope"></div></th>
                    <th class="one-weight">Weight<br>(Kg)</th>
                    <th class="one-exercise">Exercise<br>(Step)</th>
                    <th>Doses of Insulin Taken<br>(Doses)</th>
                    <th>Blood Glucose Level<br>(nmol/L)</th>
                </tr>
                {{#each patients}}
                    <tr>
                        <td><a href='/clinicians/individualData/{{this._id}}'>{{this.first_name}}<a></td>
                        
                        {{#each records.data}}
                            {{#ifRecorded this.status}}
                                <td>{{this.weight}}</td>
                            {{/ifRecorded}}
                        {{/each}}
                        
                    </tr>
                {{/each}}
                
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>