        <div class="top">
            <div class="topleft">
                <span><img src="redcircle.png">Above normal range</span>
                <span><img src="greycircle.png">Below normal range</span>
                <span><img src="Icon awesome-question-circle.png">Data was not recorded</span>
            </div>
            <div class="topright">
                <form>
                    <input type="search" placeholder="Patient Name">
                    <button type="submit"><img src="Icon ionic-ios-search.png" alt="search"></img></button>
                </form>
            </div>
        </div>
        <div class="patient-table">
            <table>
                <tr>
                    <th class="one-slope"><div class="slope"></div></th>
                    <th class="one-weight">Weight<br>(Kg)</th>
                    <th class="one-exercise">Exercise<br>(Step)</th>
                    <th>Doses of Insulin Taken<br>(Doses)</th>
                    <th>Blood Glucose Level<br>(nmol/L)</th>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>