<h1>Comment List</h1>
<div>
    <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
        <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
        <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
        <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
        <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
        <div class="commentLine">
        <img class="readComment" src="/readComment.png" alt="">
        <div class="commentLeft">
            <img src="/Photo_Pat.png" alt="">
            <span>Sam</span>
        </div>
        <div class="commentRight">
            <div>
                <span>Weight: 107</span>
                <span>Normal Range: 70-100Kg</span>
                <span>2022.3.19 23:23</span>
            </div>
            <p>I am two pounds heavier today than yesterday.</p>
        </div>
    </div>
</div>