<h1>Previous Note</h1>
<div>
    <div class="noteLine">
        <div class="notelineTop">
            <span>Weight</span>
            <span>2022.3.20 21:52</span>
        </div>
        <p class="notelineBottom">Weight has been within range and well maintained from 13 to 19 March. Sam puts on 4 kg, he might need to do more exercise.</p>
    </div>

        <div class="noteLine">
        <div class="notelineTop">
            <span>Weight</span>
            <span>2022.3.20 21:52</span>
        </div>
        <p class="notelineBottom">Weight has been within range and well maintained from 13 to 19 March. Sam puts on 4 kg, he might need to do more exercise.</p>
    </div>

        <div class="noteLine">
        <div class="notelineTop">
            <span>Weight</span>
            <span>2022.3.20 21:52</span>
        </div>
        <p class="notelineBottom">Weight has been within range and well maintained from 13 to 19 March. Sam puts on 4 kg, he might need to do more exercise.</p>
    </div>
</div>