<h1>Edit The Data</h1>
<div class="editData-body">
    <form>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Weight</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="70"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="100"> </span>
                Kg
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Exercise</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="1000"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="4000"> </span>
                steps
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Doses of Insulin Taken</span>
            <div class="textLine">
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="4000"> </span>
                Doses
            </div>
        </div>
        <div class="chooseRange">
            <input class="chooseBox" type="checkbox" name="check">
            <span class="category">Blood Glucose Level</span>
            <div class="textLine">
                From
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="3.9"></span>
                To
                <span class="rangeBox"><input class="textBox" type="text" name="" placeholder="6.1"> </span>
                nmol/L
            </div>
        </div>
    </form>
    <div class="submit">
        <button class="saveButton" onclick="window.location.href=''" type="button">Save</button>
    </div>
</div>