        <div class="top">
            <div class="topleft">
                <div class="above">
                    <div class="red-circle"></div>
                    <h1>Above normal range</h1>
                </div>
                <div class="below">
                    <div class="gray-circle"></div>
                    <h1>Below normal range</h1>
                </div>
                <div class="missing">
                    <img src="./30005image/Icon awesome-question-circle.png" alt="missing-data">
                    <h1>Data was not recorded</h1>
                </div>
            </div>
            <div class="topright">
                <form>
                    <input type="search" placeholder="Patient Name">
                    <button type="submit"><img src="./30005image/Icon ionic-ios-search.png" alt="search"></img></button>
                </form>
            </div>
        </div>
        <div class="patient-table">
            <table>
                <tr>
                    <th class="leftone"><div class="slope"></div></th>
                    <th class="lefttwo">Weight(Kg)</th>
                    <th>Exercise(Step)</th>
                    <th>Doses of Insulin Taken(Doses)</th>
                    <th>Blood Glucose Level(nmol/L)</th>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td data-href=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>