<div class="background"></div>
<div class="login">
    <h4>Login</h4>
    <div class="container">
        <form action = "normal-login" method = "post">
            <p for="email">Email Address:</p>
        
            <input type="email" id="emails" name="email" placeholder="123@xxx.com">
            <p for="pass">Password:</p>
            <input type="password" id="pass" name="password" placeholder="at least 8 characters">
        </form>
    </div>
    <div class="rememberMe">
        <div>
            <input class="checkbox" type="checkbox" name="rememberme" value="rememberme">
            <span>Remember me</span>
        </div>
        <div>
            <a class="ForgetPassword" href="">Forget Password?</a>
        </div>
    </div>
    <button class="middle-login" onclick="window.location.href=''" type="button">Login</button>
</div>