<div class="background">
    <img src="../30005image/login-background.jpeg">
</div>
<div class="login">
    <h1>Login</h1>
    <div class="container">
        <p for="email">Email Address:</p>
        <input type="email" id="emails" name="email" placeholder="123@xxx.com">
        <p for="pass">Password:</p>
        <input type="password" id="pass" name="password" placeholder="at least 8 characters">
    </div>
    <div class="rememberMe">
        <div>
            <input class="checkbox" type="checkbox" name="rememberme" value="rememberme">
            <span>Remember me</span>
        </div>
        <div>
            <a class="ForgetPassword" href="" >Forget Password?</a>
        </div>
    </div>
    <button class="middle-login" onclick="window.location.href=''" type="button">Login</button>
</div>