<div class="forget-body">
    <div class="login">
        <h4>Forget Password</h4>
        <div class="forget-container">
            <label for="email">Email Address:</label>
            <input type="email" id="emails" name="emails" placeholder="123@xxx.com">
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="password" placeholder="at least 8 characters">
            <label for="pass">Confirm Password:</label>
            <input type="password" id="pass" name="password" placeholder="confirm the password">
        </div>
        <div class="sendcode">
            <button class="sentcode">Send Authentication Code</button>
            <input type="text" id="text" name="text" placeholder="enter the code">
        </div>
        <button class="middle-login" onclick="window.location.href=''" type="button">Login</button>
    </div>
</div>