        <h1>Blood Glucose Level</h1>
        <div class="normalRange"><span>Normal Range<br>3.9 - 6.1nmol/L</span></div>
        <div class="dataInput">
            <input type="number" id="addData" name="addData" placeholder="0.0"><span>nmol/L</span>
            <textarea type="text" id="addComment" name="addComment" placeholder="Please Leave Your Comment"></textarea>
        </div>
        <button class="saveButton" onclick="window.location.href=''" type="button">Save</button>