<h1>Change Password</h1>
<div class="changepass-container">
    <label for="pass">Old Password:</label>
    <input type="password" id="pass" name="password" placeholder="at least 8 characters">
    <label for="pass">New Password:</label>
    <input type="password" id="pass" name="password" placeholder="at least 8 characters">
    <label for="pass">Confirm Password:</label>
    <input type="password" id="pass" name="password" placeholder="confirm the password">
</div>
    {{!-- Submit --}}
{{!-- <div class="change-sendcode">
    <button class="change-sentcode">Send Authentication Code</button>
    <input type="text" id="text" name="text" placeholder="enter the code">
</div> --}}
<button class="change-login" onclick="alert('Your new password has been saved.')" type="button">Save</button>