<h1>About Me</h1>
<img class="aboutme-edit" src="/edit.png" alt="edit">
<div class="aboutme-body">
    <div class="sam-detail">
        <img class="boardPic" src="/Photo_Pat.png" alt="">
        <ul class="about-detail">
            <li>Screen Name: Sam</li>
            <li>Year of birth: 1988</li>
            <li>Height: 1.8m</li>
            <li>Name: Sam McDonald</li>
            <li>Clinician: Doctor White</li>
            <li>Email Address: xxx@xx.com</li>
            <li><a href="">Change Password</a></li>
        </ul>
    </div>
    <div class="text-bio">
        <h2>A Brief Text Bio</h2>
        <div class="bio-detail">
            <li>diabetes mellitus type 2</li>
            <li>long-term treatment</li>
            <li>I'm currently a freelance copywriter</li>
        </div>
    </div>
</div>