        <div class="SupportMessage">
            <p>Don't give up and dont't give in.</p>
            <p>——&nbsp;Doctor White</p>
        </div>
        <p class="homeSubtitle">My Plans</p>
        <div class="homeTop">
            <div class="addbutton">
                <a href=""><img class="add" src="addbutton.png" alt="Blood Glucose"></a>
                <span>Blood Glucose<img class="iconpng" src="blood_glucose.png" alt="bloodpng"></span>
            </div>
            <div class="addbutton">
                <img class="add" src="addbutton.png" alt="Weight">
                <span>Weight&nbsp;<img class="iconpng" src="weightscale.png" alt="weightpng"></span>
            </div>
        </div>
        <p class="homeSubtitle">Recorded Data</p>
        <div class="homeMiddle">
            <div class="record">
                <div class="recordPng">
                    <div><img class="running" src="running.png" alt=""></div>
                </div>
                <div>
                    <span>Exercise: 10635</span>
                    <span>2022/03/20 2PM</span>
                </div>
            </div>
            <div class="record">
                <div class="recordPng">
                    <div><img class="doses" src="doses.png" alt=""></div>
                </div>
                <div>
                    <span>Doses of Insulin Taken: 3 Doses</span>
                    <span>2022/03/20 5PM</span>
                </div>
            </div>
        </div>
        <div class="tableTop">
            <span><img src="redcircle.png">Above normal range</span>
            <span><img src="greycircle.png">Below normal range</span>
            <span><img src="Icon awesome-question-circle.png">Data was not recorded</span>
        </div>
        <div class="homeTable">
            <table>
                {{!-- <tr>
                    <th class="leftone"><div class="slope"></div></th>
                    {{#each data}}
                        <th>{{this.date}}</th>
                    {{/each}}
                </tr> --}}
                <tr>
                    <th class="leftone"><div class="slope"></div></th>
                    <th>3/14</th>
                    <th>3/15</th>
                    <th>3/16</th>
                    <th>3/17</th>
                    <th>3/18</th>
                    <th>3/19</th>
                    <th>3/20</th>
                </tr>
                <tr>
                    <td class="name">Weight<br>(Kg)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">Exercise<br>(Step)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">Doses of Insulin Taken<br>(Doses)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="name">Blood Glucose Level<br>(nmol/L)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <p class="viewData">View More Data &nbsp;></p>