<h1>Motivation</h1>
<div class="motiContainer">
    <div class="selfRank">
        <p class="rank">Your Rank:&nbsp;5</p>
        <img class="motiPhoto" src="/Photo_Pat.png" alt="Sam">
        <p>Sam</p>
        <p>Participation:&nbsp;87%</p>
        <img class="badge" src="/badge.png" alt="badge">
        <button class="badgeAlert" name="badgeInfo"
            onClick="alert('You will get the badge on the left side if your overall engagement rate since you started using the app is more than 80%.')"><img
                class="badgeInfo" src="/badge_info.png" alt=""></button>
    </div>
    <div class="leaderboard">
        <div class="firstLine">
            <img class="crown" src="/crown.png" alt="">
            <img class="numberOne" src="/Photo_Pat.png" alt="">
            <span class="ranking">1</span>
        </div>
        <div class="secondLine">
            <img class="lineTwo_pic" src="/Photo_Pat.png" alt="">
            <img class="lineTwo_pic" src="/Photo_Pat.png" alt="">
        </div>
        <div class="thirdLine">
            <span class="ranking">2</span>
            <span class="ranking">3</span>
        </div>
        <div class="board">
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">Simon</span>
                <span>99%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">Simon</span>
                <span>99%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">Simon</span>
                <span>99%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">Simon</span>
                <span>99%</span>
            </div>
            <div class="boardLine">
                <span class="boardRank">1</span>
                <img class="boardPic" src="/Photo_Pat.png" alt="">
                <span class="boardName">Simon</span>
                <span>99%</span>
            </div>
        </div>
    </div>
</div>