<h1>About Me</h1>
<div class="edit-aboutme">
    <input type="checkbox" id="checkbox-toggle">
    <label for="checkbox-toggle" class="aboutme-edit"><img class="edit-button" src="/edit.png" alt="edit"></label>
    <div class="edit-page">
        <label for="checkbox-toggle" class="aboutme-edit"><img class="aboutme-delete" src="/delete.png" alt="delete"></label>
        <div class="edit-body">
            <div class="edit-detail">
                {{!-- <label for="userphoto"> --}}
                <img class="userphoto" src="/Photo_Pat.png" alt="userphoto">
                </label>
                {{!-- <input type="file" name="" id="userphoto" style="display: none; visibility:none;"> --}}
                {{!-- <p>Click to change your profile</p> --}}
                <div class="detail-change">
                    {{!-- <div class="user-info">
                        <label for="text">Name:</label>
                        <input type="text" id="name" name="username" placeholder="Sam McDonald">
                    </div>
                    <div class="user-info">
                        <label for="text">Clinician:</label>
                        <input type="text" id="name" name="clinician-name" placeholder="Doctor White">
                    </div> --}}
                    <div class="user-info">
                        <label for="text">Screen Name:</label>
                        <input type="text" id="name" name="username" placeholder="Sam">
                    </div>
                    <div class="user-info">
                        <label for="number">Height:</label>
                        <input type="number" onchange="setTwoNumberDecimal" min="0" max="10" step="2.5" placeholder="1.80m">
                    </div>
                    <div class="user-info">
                        <label for="number">Year of birth:</label>
                        <input type="number" id="year" name="year" min="1922" max="2022" placeholder="1988">
                    </div>
                    <div class="user-info">
                        <label for="email">Email Address:</label>
                        <input type="email" id="emails" name="emails" placeholder="123@xxx.com">
                    </div>
                    
                </div>  
            </div>
            <div class="user-bio">
                <label for="text">A Breif Text Bio:</label>
                <textarea type="text" id="text" name="text" placeholder="-diabetes mellitus type 2 &#10;-long-term treatment &#10;-I'm currently a freelance copywriter"></textarea>
            </div>   
        </div>
        <button class="saveButton" name="popBox" onclick="popBox()" type="button">Save</button>
</div>
<div class="aboutme-body">
    <div class="sam-detail">
        <img class="userphoto" src="/Photo_Pat.png" alt="">
        <ul class="about-detail">
            <li>Screen Name: Sam</li>
            <li>Year of birth: 1988</li>
            <li>Height: 1.8m</li>
            <li>Name: Sam McDonald</li>
            <li>Clinician: Doctor White</li>
            <li>Email Address: xxx@xx.com</li>
            <li><a href="">Change Password</a></li>
        </ul>
    </div>
    <div class="text-bio">
        <h2>A Brief Text Bio</h2>
        <div class="bio-detail">
            <li>diabetes mellitus type 2</li>
            <li>long-term treatment</li>
            <li>I'm currently a freelance copywriter</li>
        </div>
    </div>
</div>
