*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

html{font-size: 16px;}

.patient-web-header{
    display: none;
}

.patient-mobile-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    top: 0;
    left: 0;
    z-index: 1;
}

.patient-mobile-header div{
    display: flex;
    align-items: center;
    width: 76px;
}

.patient-mobile-header div:first-child{
    padding-left: 2.67%;
}

.patient-mobile-header div:last-child{
    padding-right: 2.67%;
}

.patient-mobile-logo{
    height: 48px;
    width: 76px;
}
.patient-mobile-aboutMe{
    /* 记得改大小和图片 */
    height: 48px;
    width: 76px;
}

.SupportMessage{
    background-color: #BBD9F6;
    border-radius: 0.875rem;
    margin: 5.0625rem 10.13% 2.625rem 10.13%;
    height: 4.375rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.SupportMessage{
    background-color: #BBD9F6;
    border-radius: 0.875rem;
    margin: 5.0625rem 10.13% 2.625rem 10.13%;
    height: 4.375rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.SupportMessage p:nth-child(2){font-size: 0.75rem;}

.homeSubtitle{
    margin-left: 13.87%;
}

.homeTop{
    width: 72.8%;
    margin: 0.3125rem auto 2.265rem auto;
    display: flex;
    justify-content: space-between
}

.addbutton{
    width: 42.86%;
    height: 7.3125rem;
    border: 1px solid #CFCFCF;
    border-radius: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    position: relative;
}

.addbutton span{
    margin-top: 0.5625rem;
    color: #668CB8;
    display: flex;
    align-items: center;
}

.iconpng{width: 0.9375rem;}

.homeMiddle{
    width: 72.8%;
    height: 8rem;
    margin: 0.3125rem auto 2.265rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.record{
    width: 100%;
    height: 3.625rem;
    border: 1px solid #CFCFCF;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 3px #EDEDED;
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.recordPng{
    padding: 0 1.93125rem 0 0.8625rem;
    width: 13.5%;
}

.running{width: 1.705rem;}

.doses{width: 2.278rem;}

.record div:nth-child(2){
    display: flex;
    flex-direction: column;
    height: 2.0625rem;
    justify-content: space-between;
}

.tableTop{
    display: flex;
    flex-direction: column;
    margin: auto auto 0.1875rem 7%;
    font-size: 0.5625rem;
}

.tableTop span{
    display: flex;
    align-items: center;
    padding: 0.1875rem;
}

.tableTop img{
    width: 0.5625rem;
    margin: auto 0.125rem;
}

.homeTable table{
    margin: 0 auto;
    width: 85.07%;
    border-collapse: collapse;
}

.homeTable th,td{
    border: 1px solid #CFCFCF;
    font-size: 0.6875rem;
    text-align: center;
}

.slope{
    border-bottom: 1px solid #CFCFCF;
    -webkit-transform: rotate(18deg);
}

.homeTable td:nth-child(1){
    width: 4.6875rem;
    height: 2.5rem;
}

.homeTable th{
    height: 1.8125rem;
}

.viewData{
    text-align: center;
    margin: 0.375rem;
    font-size: 0.6875rem;
}

@media screen and (min-width: 800px) and (max-width: 1400px){
    html{font-size: 24px;}

    .homeTop{width: 52.5%;}

    .homeMiddle{width: 52.5%;}
}

@media screen and (min-width: 1400px){
    .patient-mobile-header{
        display: none;
    }
    
    .patient-web-header {
        height: 8.75em;
        width: 100%;
        background-color: #668cbb;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .patient-web-header div:first-child{
        padding-left: 2.5%;
    }
    
    .patient-web-header div:last-child{
        padding-right: 1%;
        justify-content: end;
    }
    
    .patient-web-logo{
        height: 7.4375rem;
        width: 11.6875rem;
    }
    
    .patient-web-navBar a{
        font-size: 30px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .patient-web-logOut{
        color: #668CB8;
        background-color: #FFFFFF;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
        border-radius: 20px;
        width: 6.3125em;
        height: 2.0625em;
        border: none;
        font-size: 1.875em;
    } 

    .SupportMessage{
        margin: 14rem 29.01% 4.8125rem 29.01%;
        height: 7.8125rem;
    }
    
    .SupportMessage p:first-child{font-size: 1.875rem;}
    
    .SupportMessage p:nth-child(2){font-size: 1.375rem;}
    
    .homeSubtitle{
        margin-left: 23.85%;
        font-size: 1.875rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .homeTop{
        width: 33.65%;
        margin: 0.25rem auto 4.875rem auto;
    }
    
    .addbutton{
        height: 17.3047rem;
        font-size: 1.625rem;
    }
    
    .addbutton span{margin-top: 1.5rem;}

    .add{width: 60.43%;}
    
    .iconpng{width: 1.875rem;}

    .homeMiddle{
        width: 33.65%;
        height: 18.8125rem;
        margin: 0.25rem auto 4.875rem auto;
    }
    
    .record{
        height: 8.515625rem;
        font-size: 1.625rem;
    }
    
    .recordPng{
        padding: 0 4.5rem 0 2.1875rem;
        width: 10.5%;
    }

    .running{width: 3.87rem;}

    .doses{width: 5.35rem;}
    
    .record div:nth-child(2){height: 4.4375rem;}
    
    .tableTop{
        margin: auto auto 0.9375rem 21%;
        font-size: 1.25rem;
    }
    
    .tableTop span{padding: 0.3125rem;}
    
    .tableTop img{
        width: 2.3125rem;
        margin: auto 0.125rem;
    }
    
    .homeTable table{
        margin: 0 21.3% 0 21.3%;
        width: 60.14%;
    }
    
    .homeTable th,td,tr{font-size: 1.625rem;}
    
    .slope{-webkit-transform: rotate(32deg);}
    
    .homeTable td:nth-child(1), .homeTable th{
        width: 16.5rem;
        height: 6.625rem;
    }

    .viewData{
        margin: 1.5rem;
        font-size: 1.625rem;
    }
}