*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

h1{
    font-size: 38px;
    font-weight: normal;
}

h2{
    font-size: 34px;
    font-weight: normal;
    text-align: center;
}

.page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.page-header div{
    display: flex;
    align-items: center;
}

.page-header div:first-child{
    padding-left: 2.5%;
    width: 9.54%;
}

.page-header div:nth-child(2){
    padding-left: 13.9%;
    padding-right: 11.25%;
    width: 49.54%;
}

.page-header div:last-child{
    padding-right: 2.5%;
    justify-content: end;
    width: 10.99%;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-navBar {
    font-size: 30px;
    display: flex;
    justify-content: space-between
}

.header-navBar a{
    color: #FFFFFF;
    text-decoration: none;
}

.header-logOut{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
} 

.aboutMe-title{
    font-size: 2.375em;
    height: 1.1315em;
    width: 100%;
    margin-top: 5.7894em;
    align-items: center;
}

.aboutMe-title img{
    width: 2.40%;
    padding-left: 2.09%;
}

.aboutMe-title h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    font-family: Georgia, Times, 'Times New Roman', serif;
}

/* .aboutMe-body{
    height: 20.0625em;
    width: 100%;
    margin-top: 9.75em;
    margin-left: 32.3125em;
    display:flex;
}

.aboutMe-left{
    margin-right: 1.625em;
    width: 15.3125em;
    height: 20.0625em;
}



 */

.aboutMe-body{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 9.75em;
    width: 55.83%;
}

.aboutMe-left div{
    text-align: center;
    font-size: 1.625em;
}

.self-picture{
    width: 15.3125rem;
}

.aboutMe-right{
    width: 51.21%;
    align-items: center;
}
.aboutMe-right p{
    font-size: 1.625em;
}

.textBoarder{
    margin: auto;
    width: 100%;
    background-color: #fffbfb;
}

.self-intro {
    margin: auto;
    margin-top: 3.5625em;
    height: 16.4375em;
    width: 83.39%;
}


