*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

.web-page-header{
    display: none;
}

.mobile-page-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    line-height: 55px;
    top: 0;
    left: 0;
    z-index: 1;
}

.mobile-page-header div{
    display: flex;
    align-items: center;
    width: 76px;
}

.mobile-page-header div:first-child{
    padding-left: 2.67%;
}

.mobile-page-header div:last-child{
    padding-right: 2.67%;
    display: flex;
    justify-content: end;
}

.mobile-logo{
    height: 48px;
    width: 76px;
}

.nav-login{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 59px;
    height: 38px;
    border: none;
}

.forgetpass-backarrow{
    width: 100%;
    margin-top: 55px;
    display: flex;
    align-items: center;
    height: 66px;
}

.forgetpass-backarrow img {
    width: 4.74%;
    padding-left: 4.53%;
}

.middle{
    width: 78.66%;
    /* margin: 1rem 2.5rem 0 2.5rem; */
    margin: 8.625rem auto;
    border-radius: 0.5rem;
    border: 1px solid #EDEDED;
    height: 23.125rem;
    box-shadow: 3px 6px #EDEDED;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.125rem;
    font-weight: normal;
    text-align: center;
    padding: 0.875rem 0 1rem 0;
}

.container{
    padding: 0 0.625rem 0 0.625rem;
}

label{
    font-size: 14px;
}

.container input{
    width: 98.5%;
    margin: 0.25rem 0 0.75rem;
    height: 1.5rem;
    border-radius: 0.438rem;
    border: 1px solid #707070;
    outline: none;
}

::placeholder{
    color: #CFCFCF;
    font-size: 12px;
    font-style: italic;
}

.sendcode{
    width: 56%;
    text-align: center;
    margin: 0 auto 1.563rem auto;
}

button.sentcode, .sendcode input{
    height: 1.75rem;
    border-radius: 0.5rem;
    text-align: center;
}

button.sentcode{
    width: 100%;
    background-color: #668CB8;
    border: none;
    color: white;
    font-size: 14px;   
}

.sendcode input{
    width: 95.5%;
    margin: 0.625rem 0 0 0;
    height: 1.375rem;
}

.sendcode ::placeholder{
    color: #C7c7c7;
    font-size: 12px;
    font-style: italic;
    border-color: #707070;
}

.middle-login{
    height: 2rem;
    width: 27.45%;
    color: white;
    background-color: #668CB8;
    border-radius: 0.5rem;
    border: none;
    font-size: 16px;
    margin: 0 auto 1.5rem auto;
}


@media screen and (min-width: 1400px){
    main{margin-top: 200px; }

.mobile-page-header{
    display: none;
}

.web-page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.web-page-header div{
    display: flex;
    align-items: center;
}

.web-page-header div:first-child{
    padding-left: 2.5%;
    width: 9.54%;
}

.web-page-header div:nth-child(2){
    padding-left: 74.68%;
    padding-right: 2.5%;
    width: 49.54%;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-logOut{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
} 

main, label, button.sentcode{
    font-size: 26px;
}

main{
    margin-top: 8.75em;
}

.forgetpass-backarrow{
    height: 39px;
}

.forgetpass-backarrow img{
    width: 2.40%;
    padding-left: 2.09%;
}

.middle{
    margin: 0 auto;
    width: 31.66%;
    height: 40.875rem;
}

h1{
    font-size: 38px;
    padding: 1.563rem 0 1.563rem 0;
}

.container{
    padding: 0 5rem 0 5rem;
}

.container input{
    margin: 0.563rem 0 1.125rem;
    height: 3.063rem;
    padding-left: 1rem;
    border-radius: 0.625rem;
}

::placeholder{
    font-size: 20px;
}

.sendcode{
    width: 18.625rem;
    margin: 0 25.49% 2.313rem 25.49%;
}

button.sentcode{
    height: 2.688rem;  
}

.sendcode input{
    height: 2.688rem;
    width: 97%;
    margin: 0.688rem 0 0 0;
}

.sendcode ::placeholder{
    font-size: 20px;
}

.middle-login{
    height: 3.875rem;
    width: 9.813rem;
    font-size: 34px;
    margin: 0 37.11% 0 37.11%;
}
}