*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

.page-header {
    height: 8.75em;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-logo{
    height: 7.4375em;
    width: 11.6875em;
}

.header-word{
   font-size: 30px;
   color: white;
   position: relative;
   left: 452px;
   top: 47px;
}


.header-logIn{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 8px;
    width: 6.3125em;
    height: 2.0625em;
    border: none;
    font-size: 1.875em;
    position: absolute;
    left: 1669px;
    top: 35px;
}

.background{
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 5%);
}

.head{
    font-size: 2.5em;
    font-weight: bold;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.ABOUT-DIABETES{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 16px;
    width: 12em;
    height: 4em;
    border: none;
    font-size: 2em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-150%, -50%);
}

.ABOUT-WEBSITE{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 16px;
    width: 12em;
    height: 4em;
    border: none;
    font-size: 2em;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(50%, -50%);
}