*{
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
}

a {
    text-decoration: none;
}

.patient-web-header{
    display: none;
}

.nav-links a {
    color: #fff;
}
.menu { 
    display:none;
    position: absolute;
    background-color:#668cbb;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    margin-top: 400px;
}
.menu li:hover {
    display: inline-block;
    background-color:#668cbb;
    transition: 0.3s ease;
    border-radius: 5px;
}
.menu li + li {
    margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
    display: block;
}
.hamburger {
    display: block;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
} 

/*HAMBURGER MENU*/
/* .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
} */


html{font-size: 16px;}

.patient-web-header{
    display: none;
}

.patient-mobile-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    line-height: 45px;
    top: 0;
    left: 0;
    z-index: 1;
    color: #fff;
}

.patient-mobile-header div{
    display: flex;
    align-items: center;
    width: 76px;
}

.patient-mobile-header div:first-child{
    padding-left: 2.67%;
}

.patient-mobile-header div:last-child{
    padding-right: 2.67%;
    justify-content: end;
}

.patient-mobile-logo{
    height: 48px;
    width: 76px;
}
.patient-mobile-aboutMe{
    /* 记得改大小和图片 */
    height: 29px;
    width: 29px;
}

@media screen and (min-width: 800px) and (max-width: 1400px){
    html{font-size: 24px;}

    .homeTop{width: 52.5%;}

    .homeMiddle{width: 52.5%;}
}

@media screen and (min-width: 1400px){
    .patient-mobile-header{
        display: none;
    }
    
    .patient-web-header {
        height: 8.75em;
        width: 100%;
        background-color: #668cbb;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .patient-web-header div:first-child{
        padding-left: 2.5%;
    }
    
    .patient-web-header div:last-child{
        padding-right: 1%;
        justify-content: end;
    }
    
    .patient-web-logo{
        height: 7.4375rem;
        width: 11.6875rem;
    }
    
    .patient-web-navBar a{
        font-size: 30px;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .patient-web-logOut{
        color: #668CB8;
        background-color: #FFFFFF;
        box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
        border-radius: 20px;
        width: 6.3125em;
        height: 2.0625em;
        border: none;
        font-size: 1.875em;
    } 
}
