/* .normal-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 55px;
    top: 0;
    left: 0;
    z-index: 1;
}

.normal-header div{
    display: flex;
    align-items: center;
}

.normal-header div:first-child{
    padding-left: 2.67%;
    width: 76px;
}

.normal-header div:last-child{
    padding-right: 2.67%;
    display: flex;
    justify-content: end;
}

.normal-logo-left{display: none;}

.normal-logo-center{width: 76px;} */

.normal-header{
    height: 55px;
    width: 100%;
    background-color: #668cbb;
    position: fixed;
    top: 0;
    left: 0;
}

.normalNav{
    width: 57.33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40%;
}

.normal-logo{width: 76px;}

.normal-login{
    color: #668CB8;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.24);
    border-radius: 0.5rem;
    width: 59px;
    height: 38px;
    border: none;
}

@media screen and (min-width: 800px) and (max-width: 1400px){
    .normal-header{height: 80px;}
}

@media screen and (min-width: 1400px){
    main{margin-top: 200px;}

    /* .normal-logo-center{display: none;}

    .normal-logo-left{display: flex;}
    
    .normal-header {height: 8.75rem;}
    
    .normal-header div:first-child{
        padding-left: 2.5%;
        display: flex;
    }
    
    .normal-header div:last-child {padding-right: 1%;}
    
    .normal-logo-left {
        height: 7.4375rem;
        width: 11.6875rem;
    }
    
    .normal-login {
        border-radius: 1.25rem;
        width: 13.1875rem;
        height: 4.375rem;
        font-size: 1.875em;
    }  */
    .normal-header{height: 8.75rem;}
    
    .normalNav{
        width: 95.42%;
        padding: 0 2%;
    }
    
    .normal-logo{width: 187px;}
    
    .normal-login {
        border-radius: 1.25rem;
        width: 13.1875rem;
        height: 4.375rem;
        font-size: 1.875em;
    }
}