<header class="clinician-header">
    <div>
        <a href=""><img class="clinician-logo" src="/logo.png" alt="logo"></a>
    </div>
    <div class="clinician-navBar"><a href="/clinician/dashboard">DASHBOARD</a></div>
    <div class="clinician-navBar"><a href="">COMMENT</a></div>
    <div class="clinician-navBar"><a href="/newPatient">NEW PATIENT</a></div>
    <div class="clinician-navBar"><a href="">ABOUT ME</a></div>
    <div>
        <button class="clinician-logOut" onclick="window.location.href=''" type="button">Log Out</button>
    </div>
</header>