<header class="main-header">
    <div><img class="main-logo" src="../30005image/mobile-logo.png"alt="mobile-logo"></div>
    <div><button class="main-login" type="button"><b>Login</b></button></div>
</header>