<header class="normal-header">
    <div><img class="normal-logo-left" src="/logo.png"alt="logo"></div>
    <div><img class="normal-logo-center" src="/logo.png"alt="logo"></div>
    <div><button class="normal-mobile-login" onclick="window.location.href=''" type="button">Login</button></div>
</header>