<header class="normal-header">
    <div class="normalNav">
        <img class="normal-logo" src="/logo.png"alt="logo">
        <button class="normal-login" onclick="window.location.href=''" type="button">Login</button>
    </div>
</header>